In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [79]:
# importar guatemala-2016-encuestas.csv
df = pd.read_csv('guatemala-2016-encuestas.csv')

# convertir titulos por minusculas
df.set_axis(df.columns.str.lower(), axis=1, inplace=True)

# drop null en columna municipio
df.dropna(inplace=True)
df

,identificador,nombre,zona,municipio,clasifica,a_o_conf,n_lotes,poblacion,agua,energia,drenaje,tenencia,token,id_sps,x_coord,y_coord,key,poligono,poligono_geojson
0,1,"Anexo La Planta, El Esfuerzo",12,Villa Nueva,Asentamiento,1998,29,180,Sí,Sí,No,Sí,635933.0,42.0,-90.563810,14.546284,16,MULTIPOLYGON(((-90.5638192008996 14.5454064329...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
1,2,Ampliación El Solano,2,Villa Nueva,Aldea,Antes de 1950,950,13225,Sí,No,Sí,Sí,1.0,20.0,-90.583568,14.550058,17,MULTIPOLYGON(((-90.5797771949547 14.5477106543...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
2,3,Bosques del Milagro,2,Villa Nueva,Asentamiento,1999,20,300,Sí,Sí,Sí,Sí,1.0,33.0,-90.579249,14.550138,18,MULTIPOLYGON(((-90.5793208903113 14.5497340656...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
4,5,"Unidos por la Paz, Sector 2",12,Villa Nueva,Colonia,2007,400,1500,Sí,No,No,Sí,186915.0,59.0,-90.563046,14.559359,20,MULTIPOLYGON(((-90.5623600953621 14.5608035175...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
5,6,Unidos 8 de Marzo,12,Villa Nueva,Asentamiento,2000,175,1000,Sí,No,No,Sí,186915.0,9.0,-90.563113,14.554258,21,MULTIPOLYGON(((-90.5634362416791 14.5532594880...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,373,La Cebadilla,25,Guatemala,Aldea,Antes de 1950,270,1200,No,No,Sí,Sí,635933.0,72.0,-90.396868,14.665334,298,MULTIPOLYGON(((-90.3911659483873 14.6496080975...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.3..."
298,374,San Pascual 3,25,Guatemala,Colonia,1979,115,700,No,Sí,No,Sí,635933.0,23.0,-90.408000,14.682651,299,MULTIPOLYGON(((-90.4091553699953 14.6833282045...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.4..."
299,375,Anexo León Tolstoi,3,Guatemala,Barrio,1980,23,130,Sí,No,No,Sí,635933.0,61.0,-90.523184,14.645787,300,MULTIPOLYGON(((-90.5235415815448 14.6451307921...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
301,377,Hermano Pedro,7,Guatemala,Asentamiento,2009,26,111,Sí,No,No,Sí,186915.0,26.0,-90.531447,14.660142,302,MULTIPOLYGON(((-90.5311521856569 14.6593882522...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.5..."
302,378,"Emanuel, Alameda",18,Guatemala,Asentamiento,1995,36,250,Sí,No,No,Sí,1.0,146.0,-90.453945,14.667542,303,MULTIPOLYGON(((-90.4535342656996 14.6670513295...,"{""type"":""MultiPolygon"",""coordinates"":[[[[-90.4..."

In [80]:
# LIMPIEZA DE DATOS

# drop todos los nulos
df.dropna(inplace=True)

# drop de las columnas identificador, poligono, poligono_geojson, x_coord, y_coord, key, id_sps, token
df.drop(['identificador', 'poligono', 'poligono_geojson', 'x_coord', 'y_coord', 'key', 'id_sps', 'token'], axis=1, inplace=True)

df

,nombre,zona,municipio,clasifica,a_o_conf,n_lotes,poblacion,agua,energia,drenaje,tenencia
0,"Anexo La Planta, El Esfuerzo",12,Villa Nueva,Asentamiento,1998,29,180,Sí,Sí,No,Sí
1,Ampliación El Solano,2,Villa Nueva,Aldea,Antes de 1950,950,13225,Sí,No,Sí,Sí
2,Bosques del Milagro,2,Villa Nueva,Asentamiento,1999,20,300,Sí,Sí,Sí,Sí
4,"Unidos por la Paz, Sector 2",12,Villa Nueva,Colonia,2007,400,1500,Sí,No,No,Sí
5,Unidos 8 de Marzo,12,Villa Nueva,Asentamiento,2000,175,1000,Sí,No,No,Sí
...,...,...,...,...,...,...,...,...,...,...,...
297,La Cebadilla,25,Guatemala,Aldea,Antes de 1950,270,1200,No,No,Sí,Sí
298,San Pascual 3,25,Guatemala,Colonia,1979,115,700,No,Sí,No,Sí
299,Anexo León Tolstoi,3,Guatemala,Barrio,1980,23,130,Sí,No,No,Sí
301,Hermano Pedro,7,Guatemala,Asentamiento,2009,26,111,Sí,No,No,Sí
302,"Emanuel, Alameda",18,Guatemala,Asentamiento,1995,36,250,Sí,No,No,Sí

# Responder las siguientes preguntas

1. ¿Cuál es la relación POBLACION x LOTE? 
2. Por clasificación, ¿qué municipios cuentan con agua y  no tienen drenaje? 
3. ¿Cuál es el numero de personas por lote por cada una de las zonas? 
4. ¿Dónde tenemos mayor cantidad de personas? 
5. ¿Cuáles son las características para tener agua, energía y drenaje? 
6. ¿Cuánta es la cantidad de población que vive por clasificación?
7. Según el año de fundación, ¿Cuál es el municipio que tiene mayor crecimiento de población? 
8. ¿Cómo es la población por clasificación y sus servicios? 
9. ¿Cuál es el servicio que menos tiene cobertura? 
10. ¿Cuáles son las condiciones comunes que comparten todos los servicios y su antigüedad? 
11. ¿En qué zona vive la mayor población? 
12. ¿Qué cantidad de personas viven por clasificación? 
13. ¿Qué % de la población tienen agua, energía y drenajes? 
14. ¿Qué zona es la mas descuidada?
15. ¿Qué municipio es el peor cuidado? 
16. ¿Por qué cree que ese municipio es el mas descuidado? 
17. ¿Qué porcentaje de la población cuenta con energía por municipio? 
18. ¿Cuál es la proporción agua y drenaje de cada municipio? 
19. ¿Qué % de la población vive en cada uno de los municipios?

## 1. ¿Cuál es la relación POBLACION x LOTE?

In [81]:
df2=df[["nombre","municipio","poblacion", "n_lotes"]].sort_values(by=["poblacion"], ascending=False)
# asumimos que todos los poblados tienen al menos un lote (elimina error de division por cero)
df2[df2['n_lotes'] == 0] = 1
# calculamos la relación de poblacion por lote
df2["rel_pob_lote"] = df2["poblacion"] / df2["n_lotes"]
df2.sort_values(by=["rel_pob_lote"], ascending=False)

                 nombre    municipio  poblacion  n_lotes  rel_pob_lote
82          El Calvario  Villa Nueva       1500       10    150.000000
182             La Isla    Guatemala      20000      240     83.333333
63   Cerritos, Sector 5    Guatemala       2700       49     55.102041
24       Nuevo Amanecer  Villa Nueva       2000       62     32.258065
237          Las Torres    Guatemala       8600      328     26.219512
..                  ...          ...        ...      ...           ...
49          Cerro Gordo    Guatemala          0      300      0.000000
26       La Oportunidad    Guatemala          0       34      0.000000
188           Aguilar 1    Guatemala          0       83      0.000000
187         La Libertad    Guatemala          0      210      0.000000
58            El Jocote    Chinautla          0       40      0.000000

[274 rows x 5 columns]

## 2. Por clasificación, ¿qué municipios cuentan con agua y  no tienen drenaje?

In [82]:
#Por clasificación, ¿Qué municipios cuentan con agua y no tienen drenaje?
#Convertir agua y drenajes a booleanos
df['n_agua'] = df['agua'] == 'Sí'
df['n_drenaje'] = df['drenaje'] == 'Sí'
#Definir nuevo dataframe con las columnas de mi interes
df_agdre = df[["municipio", "clasifica", "poblacion", "n_agua", "n_drenaje"]]
#Evaluando quienes tienen agua y no tienen drenajes
siag_nodre = df_agdre[(df_agdre["n_agua"]==True) & (df_agdre["n_drenaje"]==False)]
#Resultados
siag_nodre.groupby(['municipio'])[['clasifica']].count().sort_values(by=['clasifica'], ascending=[False])

             clasifica
municipio
Guatemala           67
Chinautla           55
Villa Nueva         11
Mixco                1
Petapa               1

## 3. ¿Cuál es el numero de personas por lote por cada una de las zonas?

In [83]:
# Numero de personas por lote por cada una de las zonas? --> Donde tenemos mayor cantidad de gente  -> Dennis
# Paso 1: personas por lote por cada zona
df2 = df[['municipio', 'zona', 'n_lotes', 'poblacion']].groupby(['municipio', 'zona']).sum().sort_values(by=['poblacion'], ascending=[False])
df2['poblacion_por_lote'] = df2['poblacion'] / df2['n_lotes']
df2

                  n_lotes  poblacion  poblacion_por_lote
municipio   zona
Chinautla   0        9946      50205            5.047758
Guatemala   3        5220      49665            9.514368
            18       4835      33401            6.908170
            7        4293      31666            7.376194
Villa Nueva 4        4240      31200            7.358491
            2        2057      25822           12.553233
            12       2246      15056            6.703473
Petapa      0        1825      14470            7.928767
Villa Nueva 8        1793      12475            6.957613
            3        3245      11573            3.566410
Guatemala   25       2282      10525            4.612182
            6        1501       9877            6.580280
            21       2885       8370            2.901213
            1         921       6743            7.321390
            16          0       5000                 inf
Mixco       0         620       4120            6.645161
Guatemala   13        472       3820            8.093220
Mixco       6         175        800            4.571429
Guatemala   0         160        600            3.750000
Villa Nueva 11         86        500            5.813953
Guatemala   2          66        300            4.545455
            12         75        270            3.600000
            17         20        200           10.000000
            10          0         50                 inf

## 4. ¿Dónde tenemos mayor cantidad de personas?

In [84]:
# Paso 2: Dónde tenemos mayor cantidad de gente (continuación de la pregunta anterior)
df2.sort_values(by=['poblacion_por_lote'], ascending=[False])

                  n_lotes  poblacion  poblacion_por_lote
municipio   zona
Guatemala   10          0         50                 inf
            16          0       5000                 inf
Villa Nueva 2        2057      25822           12.553233
Guatemala   17         20        200           10.000000
            3        5220      49665            9.514368
            13        472       3820            8.093220
Petapa      0        1825      14470            7.928767
Guatemala   7        4293      31666            7.376194
Villa Nueva 4        4240      31200            7.358491
Guatemala   1         921       6743            7.321390
Villa Nueva 8        1793      12475            6.957613
Guatemala   18       4835      33401            6.908170
Villa Nueva 12       2246      15056            6.703473
Mixco       0         620       4120            6.645161
Guatemala   6        1501       9877            6.580280
Villa Nueva 11         86        500            5.813953
Chinautla   0        9946      50205            5.047758
Guatemala   25       2282      10525            4.612182
Mixco       6         175        800            4.571429
Guatemala   2          66        300            4.545455
            0         160        600            3.750000
            12         75        270            3.600000
Villa Nueva 3        3245      11573            3.566410
Guatemala   21       2885       8370            2.901213

In [85]:
# Donde tenemos mayor cantidad de gente en general
df2.sort_values(by=['poblacion'], ascending=[False])

                  n_lotes  poblacion  poblacion_por_lote
municipio   zona
Chinautla   0        9946      50205            5.047758
Guatemala   3        5220      49665            9.514368
            18       4835      33401            6.908170
            7        4293      31666            7.376194
Villa Nueva 4        4240      31200            7.358491
            2        2057      25822           12.553233
            12       2246      15056            6.703473
Petapa      0        1825      14470            7.928767
Villa Nueva 8        1793      12475            6.957613
            3        3245      11573            3.566410
Guatemala   25       2282      10525            4.612182
            6        1501       9877            6.580280
            21       2885       8370            2.901213
            1         921       6743            7.321390
            16          0       5000                 inf
Mixco       0         620       4120            6.645161
Guatemala   13        472       3820            8.093220
Mixco       6         175        800            4.571429
Guatemala   0         160        600            3.750000
Villa Nueva 11         86        500            5.813953
Guatemala   2          66        300            4.545455
            12         75        270            3.600000
            17         20        200           10.000000
            10          0         50                 inf

## 5. Cuáles son las características para tener agua, energía y drenaje?

In [86]:
# marcar agua energia y drenaje como True o False
df['tiene_agua'] = df['agua'] == 'Sí'
df['tiene_energia'] = df['energia'] == 'Sí'
df['tiene_drenaje'] = df['drenaje'] == 'Sí'

# buscar los datos que cumplen con los tres servicios
df[df['tiene_agua'] & df['tiene_energia'] & df['tiene_drenaje']][['nombre', 'municipio', 'zona', 'poblacion', 'clasifica', 'tiene_agua', 'tiene_energia', 'tiene_drenaje']]

,nombre,municipio,zona,poblacion,clasifica,tiene_agua,tiene_energia,tiene_drenaje
2,Bosques del Milagro,Villa Nueva,2,300,Asentamiento,True,True,True
6,Aldea Rancho Azul,Villa Nueva,2,1500,Aldea,True,True,True
14,Anexo Sur Villa Lobos 2,Villa Nueva,12,468,Colonia,True,True,True
19,Anexo Lomas de Villa Lobos 2,Villa Nueva,12,2000,Asentamiento,True,True,True
36,20 de October,Villa Nueva,3,400,Colonia,True,True,True
38,Israel,Villa Nueva,8,600,Colonia,True,True,True
101,Luz del Sol 2,Petapa,0,540,Asentamiento,True,True,True
102,Luz del Sol 1,Petapa,0,450,Comunidad,True,True,True
121,La Bendición de Dios,Guatemala,18,65,Asentamiento,True,True,True
140,Anexo El Bosque,Guatemala,3,200,Asentamiento,True,True,True
141,El Purgatorio,Guatemala,18,150,Otro,True,True,True
175,La Independencia,Guatemala,18,1400,Asentamiento,True,True,True
225,"Santa Faz, Sector 6",Chinautla,0,300,Asentamiento,True,True,True
244,Asentamiento Alcázar,Guatemala,10,50,Asentamiento,True,True,True
260,El Vergel,Guatemala,25,250,Colonia,True,True,True
275,Santa Isabel 1,Villa Nueva,3,8000,Colonia,True,True,True
281,Las Gardenias (Loma Linda y La Fe),Villa Nueva,4,1000,Asentamiento,True,True,True
287,Santa Lucía los Ocotes,Guatemala,25,8000,Aldea,True,True,True
290,"19 de Mayo, Sector 2",Guatemala,6,600,Comunidad,True,True,True
292,"19 de Mayo, Sector 1",Guatemala,6,300,Comunidad,True,True,True

## 6. ¿Cuánta es la cantidad de población que vive por clasificación?

In [87]:
df[['clasifica', 'poblacion']].groupby(['clasifica']).sum().sort_values(by=['poblacion'], ascending=[False])

              poblacion
clasifica
Asentamiento     148188
Colonia           92196
Comunidad         38472
Aldea             37425
Barrio             4825
Otro               4047
Cantón             1555

## 7. Según el año de fundación, ¿Cuál es el municipio que tiene mayor crecimiento de población?

In [88]:
# dejar solo valores enteros en el año de fundación
df['fundacion'] = df.a_o_conf.str.replace('[a-z\sA-Z]', '', regex=True).astype(int)

# calcular la cantidad de años desde la fundacion hasta el día de hoy
df['años_desde_fundacion'] = datetime.now().year - df['fundacion']

# crecimiento anual de cada comunidad por años de fundacion
df['crecimiento_anual'] = df['poblacion'] / df['años_desde_fundacion']
df[['municipio', 'nombre', 'poblacion', 'años_desde_fundacion', 'crecimiento_anual']].sort_values(['crecimiento_anual'], ascending=False)

,municipio,nombre,poblacion,años_desde_fundacion,crecimiento_anual
163,Villa Nueva,La Paz,10500,26,403.846154
237,Guatemala,Las Torres,8600,26,330.769231
199,Chinautla,Complejo Arnoldo Medrano,7500,23,326.086957
123,Guatemala,Anexo Manuel Colom Argueta,4200,13,323.076923
282,Villa Nueva,"Sector 1, 2A y 2J, Mártires del Pueblo",7500,25,300.000000
...,...,...,...,...,...
94,Petapa,El Cerro,0,27,0.000000
91,Chinautla,"Vida Nueva, Sector 1",0,30,0.000000
271,Chinautla,Manzanas 35 y 36,0,46,0.000000
274,Villa Nueva,Anexo Nuevo Porvenir,0,29,0.000000
107,Petapa,Galiz,0,72,0.000000

In [89]:
# promedio de crecimiento por municipio
df[['municipio', 'años_desde_fundacion', 'crecimiento_anual']].groupby(['municipio']).mean().sort_values(['crecimiento_anual'], ascending=False)

             años_desde_fundacion  crecimiento_anual
municipio
Villa Nueva             31.054545          52.670174
Mixco                   40.333333          50.701754
Petapa                  35.266667          34.787453
Guatemala               35.617021          33.892238
Chinautla               32.250000          27.807845

## 8. ¿Cómo es la población por clasificación y sus servicios?

In [90]:
# contar poblados por clasificacion
total_por_clasificacion = df[['clasifica', 'municipio']].groupby(['clasifica']).count().sort_values(by=['municipio'], ascending=[False]) 
# renombrar municipio por total_clasificacion
total_por_clasificacion.rename(columns={'municipio': 'total_clasificacion'}, inplace=True)

# sumar por clasificacion
suma_de_servicios = df[['clasifica', 'poblacion', 'tiene_agua', 'tiene_energia', 'tiene_drenaje']].groupby(['clasifica']).sum()
poblados = suma_de_servicios.join(total_por_clasificacion)

# alcular porcentaje de servicios por poblacion
poblados['porcentaje_agua'] = poblados['tiene_agua'] / poblados['total_clasificacion'] 
poblados['porcentaje_energia'] = poblados['tiene_energia'] / poblados['total_clasificacion']
poblados['porcentaje_drenaje'] = poblados['tiene_drenaje'] / poblados['total_clasificacion']
poblados[['poblacion', 'porcentaje_agua', 'porcentaje_energia', 'porcentaje_drenaje']].sort_values(by=['porcentaje_agua'], ascending=[False])

,poblacion,porcentaje_agua,porcentaje_energia,porcentaje_drenaje
clasifica,,,,
Cantón,1555,1.000000,0.000000,1.000000
Otro,4047,1.000000,0.222222,0.777778
Comunidad,38472,0.900000,0.266667,0.433333
Aldea,37425,0.888889,0.222222,1.000000
Asentamiento,148188,0.844595,0.270270,0.391892
Colonia,92196,0.774648,0.197183,0.521127
Barrio,4825,0.600000,0.200000,0.400000

## 9. ¿Cuál es el servicio que menos tiene cobertura?

In [91]:
#El servicio que menos tiene cobertura
no_cobertura = df[df=="Sí"][["agua","energia","drenaje"]].count() /len(df)
print(no_cobertura)
print("\nServicio con menor cobertura: " + no_cobertura.idxmin())

agua       0.835766
energia    0.244526
drenaje    0.467153
dtype: float64

Servicio con menor cobertura: energia

## 10. ¿Cuáles son las condiciones comunes que comparten todos los servicios y su antigüedad?

In [92]:
# la pregunta no es muy clara, comparamos los poblados que tienen todos los servicios con su antiguedad
df[df['tiene_agua'] & df['tiene_energia'] & df['tiene_drenaje']][['municipio', 'clasifica', 'años_desde_fundacion', 'fundacion']]

       municipio     clasifica  años_desde_fundacion  fundacion
2    Villa Nueva  Asentamiento                    23       1999
6    Villa Nueva         Aldea                    49       1973
14   Villa Nueva       Colonia                    21       2001
19   Villa Nueva  Asentamiento                    27       1995
36   Villa Nueva       Colonia                    19       2003
38   Villa Nueva       Colonia                    26       1996
101       Petapa  Asentamiento                    10       2012
102       Petapa     Comunidad                    10       2012
121    Guatemala  Asentamiento                     7       2015
140    Guatemala  Asentamiento                    32       1990
141    Guatemala          Otro                    62       1960
175    Guatemala  Asentamiento                    17       2005
225    Chinautla  Asentamiento                    28       1994
244    Guatemala  Asentamiento                    40       1982
260    Guatemala       Colonia                    30       1992
275  Villa Nueva       Colonia                    57       1965
281  Villa Nueva  Asentamiento                    24       1998
287    Guatemala         Aldea                    72       1950
290    Guatemala     Comunidad                    28       1994
292    Guatemala     Comunidad                    28       1994

## 11. ¿En qué zona vive la mayor población?

In [93]:
# ¿En qué zona vive la mayor población? -> Juan F
zona_mas_poblada=df[['zona','poblacion']].groupby(['zona'],as_index=False).sum().sort_values('poblacion',ascending=False).iloc[0]
zona_mas_poblada

zona             0
poblacion    69395
Name: 0, dtype: int64

## 12. ¿Qué cantidad de personas viven por clasificación?

In [94]:
# suma de poblacion agrupada por clasificacion
df[['clasifica', 'poblacion']].groupby(['clasifica']).sum().sort_values(by=['poblacion'], ascending=[False])

              poblacion
clasifica
Asentamiento     148188
Colonia           92196
Comunidad         38472
Aldea             37425
Barrio             4825
Otro               4047
Cantón             1555

## 13. ¿Qué % de la población tienen agua, energía y drenajes?

In [97]:
#¿Qué % de la población tiene agua, energía y drenajes
df_servp = df[["poblacion","agua","energia","drenaje"]]
#filtro valores "Sí"
df_servp = df_servp[df_servp["energia"]=="Sí"]
df_servp = df_servp[df_servp["agua"]=="Sí"]
df_servp = df_servp[df_servp["drenaje"]=="Sí"]

pob_general = sum(df["poblacion"])
pob_servicios = sum(df_servp["poblacion"])

porcentaje_servicios =(pob_servicios/pob_general)*100

print("El porcentaje de población que posee agua, energía y drenajes es del ", porcentaje_servicios)

El porcentaje de población que posee agua, energía y drenajes es del  8.133562692067535

## 14. ¿Qué zona es la mas descuidada?

In [110]:
# sumar tiene_agua, tine_energia y tiene_drenaje
suma_servicios_por_zona = df[['zona', 'tiene_agua', 'tiene_energia', 'tiene_drenaje']].groupby(['zona']).sum().sort_values(by=['tiene_agua'], ascending=[False])
# sumar totalizado
suma_servicios_por_zona['servicios_totales'] = suma_servicios_por_zona['tiene_agua'] + suma_servicios_por_zona['tiene_energia'] + suma_servicios_por_zona['tiene_drenaje']
# ordenar y seleccionar la zona con menos servicios
suma_servicios_por_zona.reset_index(inplace=True)
suma_servicios_por_zona.sort_values(by=['servicios_totales'], ascending=True).iloc[0]

zona                 17
tiene_agua            1
tiene_energia         0
tiene_drenaje         0
servicios_totales     1
Name: 14, dtype: int64

## 15. ¿Qué municipio es el peor cuidado?

In [112]:
# sumar tiene_agua, tine_energia y tiene_drenaje
servicios_por_municipio = df[['municipio', 'tiene_agua', 'tiene_energia', 'tiene_drenaje']].groupby(['municipio']).sum().sort_values(by=['tiene_agua'], ascending=[False])
# sumar totalizado
servicios_por_municipio['servicios_totales'] = servicios_por_municipio['tiene_agua'] + servicios_por_municipio['tiene_energia'] + servicios_por_municipio['tiene_drenaje']
# ordenar y seleccionar la zona con menos servicios
servicios_por_municipio.reset_index(inplace=True)
servicios_por_municipio.sort_values(by=['servicios_totales'], ascending=True).iloc[0]

municipio            Mixco
tiene_agua               3
tiene_energia            0
tiene_drenaje            2
servicios_totales        5
Name: 4, dtype: object

## 16. ¿Por qué cree que ese municipio es el mas descuidado? 

**Respuesta**: Debido a que en total es el que menos servicios presta a sus poblados

## 17. ¿Qué porcentaje de la población cuenta con energía por municipio?

In [127]:
# calcular poblacion total
poblacion_total = df[['municipio', 'poblacion']].groupby('municipio').sum()

# calcular poblacion con energia
poblacion_con_energia = df[df['tiene_energia']][['municipio','poblacion']].groupby('municipio').sum()
# renombrar poblacion por poblacion_con_energia
poblacion_con_energia.rename(columns={'poblacion': 'poblacion_con_energia'}, inplace=True)

# join y calculo del porcentaje
poblacion_porcentaje = poblacion_con_energia.join(poblacion_total)
poblacion_porcentaje['porcentaje'] = poblacion_porcentaje['poblacion_con_energia'] / poblacion_porcentaje['poblacion'] * 100
poblacion_porcentaje.sort_values(by=['porcentaje'], ascending=False)

             poblacion_con_energia  poblacion  porcentaje
municipio
Chinautla                    15290      50205   30.455134
Guatemala                    37521     160487   23.379464
Villa Nueva                  14958      96626   15.480306
Petapa                         990      14470    6.841742

## 18. ¿Cuál es la proporción agua y drenaje de cada municipio?

In [133]:
# calcular la proporcion de poblados que tienen agua vs poblados que tienen drenaje
agua_drenaje = df[['municipio', 'tiene_agua', 'tiene_drenaje']].groupby('municipio').sum()
agua_drenaje['proporcion'] = agua_drenaje['tiene_agua'] / agua_drenaje['tiene_drenaje']
agua_drenaje

             tiene_agua  tiene_drenaje  proporcion
municipio
Chinautla            59              5   11.800000
Guatemala           109             64    1.703125
Mixco                 3              2    1.500000
Petapa               12             14    0.857143
Villa Nueva          46             43    1.069767

## 19. ¿Qué % de la población vive en cada uno de los municipios?

In [138]:
# sumar poblacion agrupada por poblado
poblacion_por_municipio = df[['municipio', 'poblacion']].groupby('municipio').sum()
# calcular la proporcion de poblacion
poblacion_por_municipio['proporcion'] = poblacion_por_municipio['poblacion'] / poblacion_por_municipio['poblacion'].sum() * 100
poblacion_por_municipio

             poblacion  proporcion
municipio
Chinautla        50205   15.366933
Guatemala       160487   49.122458
Mixco             4920    1.505932
Petapa           14470    4.429031
Villa Nueva      96626   29.575646